.footer-child,
.landing-page-child {
  position: absolute;
  left: calc(50% - 720px);
  width: 1440px;
}
.landing-page-child {
  top: calc(50% - 512px);
  height: 1024px;
  object-fit: cover;
}
.footer-child {
  bottom: 0;
  background-color: var(--color-black);
  height: 161px;
}
.mnmnhs-all-rights {
  position: absolute;
  bottom: 70px;
  left: calc(50% - 340px);
  font-weight: 300;
}
.footer {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 161px;
}
.welcome-to {
  margin: 0;
  font-size: var(--font-size-29xl);
  color: var(--yellow);
}
.maximino-noel {
  margin: 0;
}
.welcome-to-maximino-container {
  position: relative;
  line-height: 115.3%;
  display: inline-block;
  width: 756px;
  height: 312px;
  flex-shrink: 0;
  -webkit-text-stroke: 2px #012ece;
}
.explore-our-website {
  position: relative;
  font-size: 36px;
  font-family: var(--font-inter);
  margin-top: -16px;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-navigation {
  position: relative;
}
.button-1 {
  border-radius: var(--br-4xl);
  background-color: var(--yellow);
  border: 5px solid var(--blue);
  box-sizing: border-box;
  width: 163px;
  height: 51px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.buttons,
.intro-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.buttons {
  flex-direction: row;
  gap: 16px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--blue);
  font-family: var(--font-inter);
}
.intro-parent {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 21px;
}
.landing-txt,
.logo-1-icon {
  position: relative;
  width: 756px;
  height: 402px;
}
.logo-1-icon {
  width: 400px;
  height: 392.82px;
  object-fit: cover;
}
.landing-txt-parent {
  position: absolute;
  top: 156px;
  left: calc(50% - 568px);
  width: 1174px;
  height: 392.82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-ibm-plex-mono);
}
.landing-page {
  position: relative;
  background-color: var(--blue);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.buttons a{
  text-decoration: none;
  color: #012ece;
}
