.more-info-child,
.rectangle-div {
  position: absolute;
  left: calc(50% - 720px);
  width: 1440px;
}
.more-info-child {
  top: calc(50% - 512px);
  height: 1024px;
  object-fit: cover;
}
.rectangle-div {
  bottom: 0;
  background-color: var(--color-black);
  height: 161px;
}
.mnmnhs-all-rights3 {
  position: absolute;
  bottom: 70px;
  left: calc(50% - 340px);
  font-weight: 300;
}
.footer3 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 161px;
  font-family: var(--font-inter);
}
.logo-1-icon3 {
  position: absolute;
  top: calc(50% - 196px);
  left: calc(50% - 200px);
  width: 400px;
  height: 392.82px;
  object-fit: cover;
}
.icon-facebook-bold {
  position: relative;
  width: 30px;
  height: 51.27px;
}
.httpswwwfacebookcommaxim {
  position: relative;
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
}
.click-here {
  position: relative;
  color: var(--color-black);
}
.httpswwwfacebookcommaxim-parent,
.icon-facebook-bold-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}
.icon-facebook-bold-parent {
  position: absolute;
  right: 39px;
  bottom: 167.73px;
  flex-direction: row;
  justify-content: center;
  gap: 11px;
  font-size: var(--font-size-base);
  color: #eed814;
}
.why-mnmnhs {
  position: relative;
  font-weight: 500;
  -webkit-text-stroke: 2px #012ece;
}
.enrolling-in-mnmns {
  margin: 0;
}
.enrolling-in-mnmns-container {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 1159px;
  flex-shrink: 0;
}
.txt1,
.why-mnmnhs-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.txt1 {
  background-color: var(--color-gray-100);
  flex-direction: row;
  padding: var(--padding-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.why-mnmnhs-parent {
  position: absolute;
  top: calc(50% - 444px);
  left: calc(50% - 590px);
  flex-direction: column;
  text-align: justify;
  font-size: var(--font-size-45xl);
  color: var(--yellow);
}
.more-info {
  position: relative;
  background-color: var(--blue);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-ibm-plex-mono);
}
